# Iterables, Conditional execution, and Files

In [1]:
x = list(range(10)) # python 2 safe

In [2]:
print('My input values are: ', x)

My input values are:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
k = 10
summation = 0
for i in range(k):
    summation = summation + i
    print(i, summation)
    print('in loop')
    
print('we are done')
print('The sum of the first {} integers is {}'.format(k, summation))

0 0
in loop
1 1
in loop
2 3
in loop
3 6
in loop
4 10
in loop
5 15
in loop
6 21
in loop
7 28
in loop
8 36
in loop
9 45
in loop
we are done
The sum of the first 10 integers is 45

In [5]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
sum(x)

45

In [7]:
sum(x) / len(x)

4.5

In [8]:
sum(x) * 1. / len(x)

4.5

## Nesting

In [9]:
print('i j')
for i in range(4):
    for j in range(3):
        print(i, j)

i j
0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2

In [10]:
print('i j')
for i in range(4):
    for j in range(3):
        if i != j:
            print(i,j)

i j
0 1
0 2
1 0
1 2
2 0
2 1
3 0
3 1
3 2

# if else

In [11]:
x = range(10)
x

range(0, 10)

In [12]:
for i in x:
    if i < 4:
        print(i)

0
1
2
3

In [13]:
for i in x:
    if i < 4:
        print(i)
    else:
        print('{} is not less than 4'.format(i))

0
1
2
3
4 is not less than 4
5 is not less than 4
6 is not less than 4
7 is not less than 4
8 is not less than 4
9 is not less than 4

In [14]:
for i in x:
    if i < 4:
        print('{} is less than 4'.format(i))
    elif i > 4:
        print('{} is greater than 4'.format(i))

0 is less than 4
1 is less than 4
2 is less than 4
3 is less than 4
5 is greater than 4
6 is greater than 4
7 is greater than 4
8 is greater than 4
9 is greater than 4

In [15]:
for i in x:
    if i < 4:
        print('{} is less than 4'.format(i))
    elif i > 4:
        print('{} is greater than 4'.format(i))
    else:
        print('{} is equal to 4'.format(i))

0 is less than 4
1 is less than 4
2 is less than 4
3 is less than 4
4 is equal to 4
5 is greater than 4
6 is greater than 4
7 is greater than 4
8 is greater than 4
9 is greater than 4

In [23]:
x = range(1000)

In [24]:
v = 6
if v%2:
    print(v)
else:
    print('here')
    print(v)

here
6

In [25]:
v = 7
v % 2

1

In [26]:
odds = []
for i in x:
    # check if i is odd, if so append to odds
    if i % 2:
        odds.append(i)

In [27]:
odds[:10]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [28]:
len(odds)

500

In [29]:
odds1 = [i for i in x if i%2]

In [30]:
odds1[:10]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [31]:
odds1 = [i for i in x if i%2 and i>72]
len(odds1)

464

In [32]:
odds1 = []
for i in x:
    if i%2 and i>72:
        odds1.append(i)
len(odds1)

464

## Files

In [33]:
with open('data/airports.csv', 'r') as f:
    lines = f.readlines()

In [34]:
type(lines)

list

In [35]:
lines[:3]

['airport_id,name,city,country,iata_faa,iaco,latitude,longitude,altitude,zone,dst\n',
 '1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U\n',
 '2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.7887,20,10,U\n']

In [36]:
lines[-3:]

['8403,One Hundred Mile House Airport,One Hundred Mile House,Canada,,CAV3,51.3833,-121.1825,3055,-8,A\n',
 '8404,South Cariboo Regional Airport,108 Mile Ranch,Canada,ZML,CZML,51.4412,-121.1958,3129,-8,A\n',
 '8405,Glasgow City Heliport,Glasgow,United Kingdom,,EGEG,55.5141,-4.1749,10,0,E\n']

In [37]:
len(lines)

6978

In [38]:
lines[1]

'1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U\n'

In [39]:
rec1 = lines[1]

In [40]:
rec1

'1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U\n'

In [41]:
s = "my name is joe"

In [42]:
s.split()

['my', 'name', 'is', 'joe']

In [43]:
s = "my,name,is,joe"
s.split(",")

['my', 'name', 'is', 'joe']

In [44]:
s.split()

['my,name,is,joe']

In [45]:
rec1

'1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U\n'

In [46]:
rec1.split(',')

['1',
 'Goroka',
 'Goroka',
 'Papua New Guinea',
 'GKA',
 'AYGA',
 '-6.081689',
 '145.391881',
 '5282',
 '10',
 'U\n']

In [47]:
rec1.strip().split()

['1,Goroka,Goroka,Papua',
 'New',
 'Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U']

In [48]:
with open('data/airports.csv', 'r') as f:
    lines = f.readlines()

In [49]:
data = []
for line in lines:
    data.append(line.strip().split(','))

In [50]:
len(data)

6978

In [51]:
data[1]

['1',
 'Goroka',
 'Goroka',
 'Papua New Guinea',
 'GKA',
 'AYGA',
 '-6.081689',
 '145.391881',
 '5282',
 '10',
 'U']

In [52]:
data[0]

['airport_id',
 'name',
 'city',
 'country',
 'iata_faa',
 'iaco',
 'latitude',
 'longitude',
 'altitude',
 'zone',
 'dst']

In [53]:
k = len(data[0])

In [54]:
k

11

In [55]:
latitude = data[0].index('latitude')

In [56]:
latitude

6

In [57]:
data[1][latitude]

'-6.081689'

In [58]:
header = data[0]

In [59]:
header

['airport_id',
 'name',
 'city',
 'country',
 'iata_faa',
 'iaco',
 'latitude',
 'longitude',
 'altitude',
 'zone',
 'dst']

In [60]:
len(header)

11

In [61]:
k = len(header)
for record in data:
    rec_k = len(record)
    if rec_k != k:
        print(rec_k, record)

12 ['5881', "Mata'aho Airport", '"Angaha', ' Niuafo\'ou Island"', 'Tonga', 'NFO', 'NFTO', '-15.5708', '-175.633', '160', '13', 'U']
12 ['5675', 'Sao Filipe Airport', '"Sao Filipe', ' Fogo Island"', 'Cape Verde', 'SFL', 'GVSF', '14.885', '-24.48', '617', '-1', 'U']
12 ['5674', 'Praia International Airport', '"Praia', ' Santiago Island"', 'Cape Verde', 'RAI', 'GVNP', '14.9245', '-23.4935', '230', '-1', 'U']
12 ['5562', 'Robin Hood Doncaster Sheffield Airport', '"Doncaster', ' Sheffield"', 'United Kingdom', 'DSA', 'EGCN', '53.474722', '-1.004444', '55', '0', 'E']

In [62]:
k = len(header)
for i, record in enumerate(data):
    rec_k = len(record)
    if rec_k != k:
        print(i, rec_k, record)

4442 12 ['5881', "Mata'aho Airport", '"Angaha', ' Niuafo\'ou Island"', 'Tonga', 'NFO', 'NFTO', '-15.5708', '-175.633', '160', '13', 'U']
4647 12 ['5675', 'Sao Filipe Airport', '"Sao Filipe', ' Fogo Island"', 'Cape Verde', 'SFL', 'GVSF', '14.885', '-24.48', '617', '-1', 'U']
4648 12 ['5674', 'Praia International Airport', '"Praia', ' Santiago Island"', 'Cape Verde', 'RAI', 'GVNP', '14.9245', '-23.4935', '230', '-1', 'U']
4760 12 ['5562', 'Robin Hood Doncaster Sheffield Airport', '"Doncaster', ' Sheffield"', 'United Kingdom', 'DSA', 'EGCN', '53.474722', '-1.004444', '55', '0', 'E']

In [63]:
import csv
newlines = []
with open('data/airports.csv', 'r') as f:
    reader = csv.reader(f)
    for line in reader:
        newlines.append(line)
print(newlines[4442])

['5881', "Mata'aho Airport", "Angaha, Niuafo'ou Island", 'Tonga', 'NFO', 'NFTO', '-15.5708', '-175.633', '160', '13', 'U']

In [87]:
k = len(header)
for i, record in enumerate(newlines):
    rec_k = len(record)
    if rec_k != k:
        print(i, rec_k, record)

In [88]:
header

['airport_id',
 'name',
 'city',
 'country',
 'iata_faa',
 'iaco',
 'latitude',
 'longitude',
 'altitude',
 'zone',
 'dst']

In [89]:
lat = header.index('latitude')
lon = header.index('longitude')

In [90]:
lat,lon

(6, 7)

In [70]:
[header.index(name) for name in header]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [91]:
lookup = dict([(name, header.index(name)) for name in header])

In [94]:
lookup

{'airport_id': 0,
 'name': 1,
 'city': 2,
 'country': 3,
 'iata_faa': 4,
 'iaco': 5,
 'latitude': 6,
 'longitude': 7,
 'altitude': 8,
 'zone': 9,
 'dst': 10}

In [95]:
lookup['latitude']

6

In [96]:
lat = lookup['latitude']
lon = lookup['longitude']

In [97]:
lon

7

In [98]:
newlines[:3]

[['airport_id',
  'name',
  'city',
  'country',
  'iata_faa',
  'iaco',
  'latitude',
  'longitude',
  'altitude',
  'zone',
  'dst'],
 ['1',
  'Goroka',
  'Goroka',
  'Papua New Guinea',
  'GKA',
  'AYGA',
  '-6.081689',
  '145.391881',
  '5282',
  '10',
  'U'],
 ['2',
  'Madang',
  'Madang',
  'Papua New Guinea',
  'MAG',
  'AYMD',
  '-5.207083',
  '145.7887',
  '20',
  '10',
  'U']]

In [99]:
points = [(float(record[lon]),float(record[lat])) for record in newlines[1:]]

In [100]:
points[:3]

[(145.391881, -6.081689), (145.7887, -5.207083), (144.295861, -5.826789)]

In [101]:
lats = [float(record[lat]) for record in newlines[1:]]
lons = [float(record[lon]) for record in newlines[1:]]

In [102]:
points_zip = list(zip(lons, lats))

In [103]:
points_zip[:3]

[(145.391881, -6.081689), (145.7887, -5.207083), (144.295861, -5.826789)]

In [104]:
min_lat = float('inf')
min_lat

inf

In [105]:
10**2 < min_lat

True

In [106]:
southmost = min_lat
for lat in lats:
    if lat < southmost:
        southmost = lat

In [107]:
southmost

-89.999997

In [108]:
southern = []
for i, lat in enumerate(lats):
    if lat < 0:
        southern.append(i)

In [109]:
southern[:10]

[0, 1, 2, 3, 4, 5, 574, 776, 777, 778]

<div class="alert alert-success" style="font-size:120%">
<b>Exercise</b>: <br>
 Find the western most airport in the northern hemisphere.
 
</div>

In [112]:
# %load solutions/114_1.py
n = len(lats)
northern = [i for i in range(n) if i not in southern]
west_max = 0.0
west_id = None
for i in northern:
    lon_i = lons[i]
    if lon_i < west_max:
        west_max = lon_i
        west_id = i
print(newlines[1:][west_id])

['2253', 'Midway Atoll', 'Midway', 'Midway Islands', 'MDY', 'PMDY', '28.201725', '-177.380636', '13', '-11', 'U']

<div class="alert alert-success" style="font-size:120%">
<b>Exercise</b>: <br>
 Find the western most airport in the southern hemisphere.
 
</div>

In [ ]:
# %load solutions/114_2.py

<div class="alert alert-success" style="font-size:120%">
<b>Exercise</b>: <br>
 Find the southern most airport in the western hemisphere.
</div>

In [ ]:
# %load solutions/114_3.py

<div class="alert alert-success" style="font-size:120%">
<b>Exercise</b>: <br>
 Find the northern most airport in the eastern hemisphere.
</div>

In [ ]:
# %load solutions/114_4.py

---

<a rel="license" href="http://creativecommons.org/licenses/by-nc-
sa/4.0/"><img alt="Creative Commons License" style="border-width:0"
src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span
xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Conditionals</span> by <a xmlns:cc="http://creativecommons.org/ns#"
href="http://sergerey.org" property="cc:attributionName"
rel="cc:attributionURL">Serge Rey</a> is licensed under a <a
rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative
Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.