# Pandas

This notebook presents an introduction to the `pandas` package.
We focus on only the most commonly used features of `pandas` as they pertain to geospatial data analysis. More extensive references are given at the end of the notebook.

In [1]:
import pandas
import numpy as np

In [4]:
ward = np.tile([1,2,3,4,5], 5)
population = np.random.randint(5000, size=(25,))
poverty = np.random.random(size=(25,)) * .4

In [5]:
poverty

array([0.38985375, 0.07375116, 0.19523427, 0.15807276, 0.03495397,
       0.02176942, 0.37693912, 0.35401639, 0.20658366, 0.01838118,
       0.21342018, 0.24603012, 0.04140064, 0.13604984, 0.33264587,
       0.24227604, 0.28037508, 0.22047889, 0.30284564, 0.24586561,
       0.21655253, 0.06935885, 0.38820126, 0.21746861, 0.16131426])

In [6]:
population

array([2564, 3153, 2934,  259, 2417,  596, 4175, 4554, 1040, 3571, 4563,
       3337, 1288, 4533,  498, 4841, 1750, 2030, 4197, 1394, 3735, 1579,
       2401, 2563,  549])

In [7]:
ward

array([1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2,
       3, 4, 5])

In [8]:
df = pandas.DataFrame({'population': population,
                      'ward': ward,
                      'poverty': poverty})

In [9]:
df.head()

   population  ward   poverty
0        2564     1  0.389854
1        3153     2  0.073751
2        2934     3  0.195234
3         259     4  0.158073
4        2417     5  0.034954

In [10]:
df.tail()

    population  ward   poverty
20        3735     1  0.216553
21        1579     2  0.069359
22        2401     3  0.388201
23        2563     4  0.217469
24         549     5  0.161314

In [11]:
df.shape

(25, 3)

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
type(df.population)

pandas.core.series.Series

## indexing

In [14]:
df['population']

0     2564
1     3153
2     2934
3      259
4     2417
5      596
6     4175
7     4554
8     1040
9     3571
10    4563
11    3337
12    1288
13    4533
14     498
15    4841
16    1750
17    2030
18    4197
19    1394
20    3735
21    1579
22    2401
23    2563
24     549
Name: population, dtype: int64

In [15]:
df.population

0     2564
1     3153
2     2934
3      259
4     2417
5      596
6     4175
7     4554
8     1040
9     3571
10    4563
11    3337
12    1288
13    4533
14     498
15    4841
16    1750
17    2030
18    4197
19    1394
20    3735
21    1579
22    2401
23    2563
24     549
Name: population, dtype: int64

In [16]:
df[0:4]

   population  ward   poverty
0        2564     1  0.389854
1        3153     2  0.073751
2        2934     3  0.195234
3         259     4  0.158073

In [17]:
df[-4:]

    population  ward   poverty
21        1579     2  0.069359
22        2401     3  0.388201
23        2563     4  0.217469
24         549     5  0.161314

In [18]:
df[df.ward==2]

    population  ward   poverty
1         3153     2  0.073751
6         4175     2  0.376939
11        3337     2  0.246030
16        1750     2  0.280375
21        1579     2  0.069359

In [19]:
df[(df.ward==2) & (df.population < 1000)]

Empty DataFrame
Columns: [population, ward, poverty]
Index: []

In [20]:
df[~(df.ward==2) & (df.population < 1000)] # not in ward 2 and less than 1000 population

    population  ward   poverty
3          259     4  0.158073
5          596     1  0.021769
14         498     5  0.332646
24         549     5  0.161314

In [21]:
df[~((df.ward==2) & (df.population < 1000))] # not (in ward 2 and less than 1000 population)

    population  ward   poverty
0         2564     1  0.389854
1         3153     2  0.073751
2         2934     3  0.195234
3          259     4  0.158073
4         2417     5  0.034954
5          596     1  0.021769
6         4175     2  0.376939
7         4554     3  0.354016
8         1040     4  0.206584
9         3571     5  0.018381
10        4563     1  0.213420
11        3337     2  0.246030
12        1288     3  0.041401
13        4533     4  0.136050
14         498     5  0.332646
15        4841     1  0.242276
16        1750     2  0.280375
17        2030     3  0.220479
18        4197     4  0.302846
19        1394     5  0.245866
20        3735     1  0.216553
21        1579     2  0.069359
22        2401     3  0.388201
23        2563     4  0.217469
24         549     5  0.161314

In [22]:
df[(df.ward==2) | (df.population < 1000)] #in ward 2 or less than 1000 population)

    population  ward   poverty
1         3153     2  0.073751
3          259     4  0.158073
5          596     1  0.021769
6         4175     2  0.376939
11        3337     2  0.246030
14         498     5  0.332646
16        1750     2  0.280375
21        1579     2  0.069359
24         549     5  0.161314

## New Columns

In [23]:
df.head()

   population  ward   poverty
0        2564     1  0.389854
1        3153     2  0.073751
2        2934     3  0.195234
3         259     4  0.158073
4        2417     5  0.034954

In [24]:
pop_pov = df.population * df.poverty
pop_pov

0      999.585002
1      232.537421
2      572.817337
3       40.940845
4       84.483737
5       12.974575
6     1573.720822
7     1612.190648
8      214.847008
9       65.639211
10     973.836282
11     821.002499
12      53.324022
13     616.713907
14     165.657642
15    1172.858286
16     490.656396
17     447.572149
18    1271.043136
19     342.736655
20     808.823710
21     109.517631
22     932.071216
23     557.372038
24      88.561529
dtype: float64

In [27]:
df['pop_pov'] = pop_pov.astype('int')

In [28]:
df.head()

   population  ward   poverty  pop_pov
0        2564     1  0.389854      999
1        3153     2  0.073751      232
2        2934     3  0.195234      572
3         259     4  0.158073       40
4        2417     5  0.034954       84

## Aggregation/Groupby

In [29]:
df.groupby(by='ward').sum()

      population   poverty  pop_pov
ward
1          16299  1.083872     3964
2          13994  1.046454     3225
3          13207  1.199331     3616
4          12592  1.021021     2698
5           8429  0.793161      744

In [30]:
df.groupby(by='ward').sum()[['population', 'pop_pov']]

      population  pop_pov
ward
1          16299     3964
2          13994     3225
3          13207     3616
4          12592     2698
5           8429      744

In [31]:
ward_df = df.groupby(by='ward').sum()[['population', 'pop_pov']]

In [32]:
ward_df['poverty'] = ward_df.pop_pov / ward_df.population

In [33]:
ward_df.head()

      population  pop_pov   poverty
ward
1          16299     3964  0.243205
2          13994     3225  0.230456
3          13207     3616  0.273794
4          12592     2698  0.214263
5           8429      744  0.088267

## Joins

In [34]:
ward_df.index

Int64Index([1, 2, 3, 4, 5], dtype='int64', name='ward')

In [35]:
df.merge(ward_df, how='left', on='ward')

,population_x,ward,poverty_x,pop_pov_x,population_y,pop_pov_y,poverty_y
0,2564,1,0.389854,999,16299,3964,0.243205
1,3153,2,0.073751,232,13994,3225,0.230456
2,2934,3,0.195234,572,13207,3616,0.273794
3,259,4,0.158073,40,12592,2698,0.214263
4,2417,5,0.034954,84,8429,744,0.088267
5,596,1,0.021769,12,16299,3964,0.243205
6,4175,2,0.376939,1573,13994,3225,0.230456
7,4554,3,0.354016,1612,13207,3616,0.273794
8,1040,4,0.206584,214,12592,2698,0.214263
9,3571,5,0.018381,65,8429,744,0.088267
10,4563,1,0.213420,973,16299,3964,0.243205
11,3337,2,0.246030,821,13994,3225,0.230456
12,1288,3,0.041401,53,13207,3616,0.273794
13,4533,4,0.136050,616,12592,2698,0.214263
14,498,5,0.332646,165,8429,744,0.088267
15,4841,1,0.242276,1172,16299,3964,0.243205
16,1750,2,0.280375,490,13994,3225,0.230456
17,2030,3,0.220479,447,13207,3616,0.273794
18,4197,4,0.302846,1271,12592,2698,0.214263
19,1394,5,0.245866,342,8429,744,0.088267
20,3735,1,0.216553,808,16299,3964,0.243205
21,1579,2,0.069359,109,13994,3225,0.230456
22,2401,3,0.388201,932,13207,3616,0.273794
23,2563,4,0.217469,557,12592,2698,0.214263
24,549,5,0.161314,88,8429,744,0.088267

In [37]:
df.merge(ward_df, how='right', on='ward')

,population_x,ward,poverty_x,pop_pov_x,population_y,pop_pov_y,poverty_y,population,pop_pov,poverty
0,2564,1,0.389854,999,16299,3964,0.243205,16299,3964,0.243205
1,596,1,0.021769,12,16299,3964,0.243205,16299,3964,0.243205
2,4563,1,0.213420,973,16299,3964,0.243205,16299,3964,0.243205
3,4841,1,0.242276,1172,16299,3964,0.243205,16299,3964,0.243205
4,3735,1,0.216553,808,16299,3964,0.243205,16299,3964,0.243205
5,3153,2,0.073751,232,13994,3225,0.230456,13994,3225,0.230456
6,4175,2,0.376939,1573,13994,3225,0.230456,13994,3225,0.230456
7,3337,2,0.246030,821,13994,3225,0.230456,13994,3225,0.230456
8,1750,2,0.280375,490,13994,3225,0.230456,13994,3225,0.230456
9,1579,2,0.069359,109,13994,3225,0.230456,13994,3225,0.230456
10,2934,3,0.195234,572,13207,3616,0.273794,13207,3616,0.273794
11,4554,3,0.354016,1612,13207,3616,0.273794,13207,3616,0.273794
12,1288,3,0.041401,53,13207,3616,0.273794,13207,3616,0.273794
13,2030,3,0.220479,447,13207,3616,0.273794,13207,3616,0.273794
14,2401,3,0.388201,932,13207,3616,0.273794,13207,3616,0.273794
15,259,4,0.158073,40,12592,2698,0.214263,12592,2698,0.214263
16,1040,4,0.206584,214,12592,2698,0.214263,12592,2698,0.214263
17,4533,4,0.136050,616,12592,2698,0.214263,12592,2698,0.214263
18,4197,4,0.302846,1271,12592,2698,0.214263,12592,2698,0.214263
19,2563,4,0.217469,557,12592,2698,0.214263,12592,2698,0.214263
20,2417,5,0.034954,84,8429,744,0.088267,8429,744,0.088267
21,3571,5,0.018381,65,8429,744,0.088267,8429,744,0.088267
22,498,5,0.332646,165,8429,744,0.088267,8429,744,0.088267
23,1394,5,0.245866,342,8429,744,0.088267,8429,744,0.088267
24,549,5,0.161314,88,8429,744,0.088267,8429,744,0.088267

In [36]:
df = df.merge(ward_df, how='left', on='ward')

In [ ]:
names = df.columns

In [ ]:
new_names = [name.replace("_y", "_ward") for name in names]
df.columns = new_names
df.head()

In [ ]:
df[df.poverty_x > df.poverty_ward]

<div class="alert alert-success" style="font-size:120%">
<b>Exercise</b>: <br>
Which ward has the highest poverty rate?
</div>

In [ ]:
# %load solutions/120_1.py

<div class="alert alert-success" style="font-size:120%">
<b>Exercise</b>: <br>
Which tract the highest poverty rate as a percentage of its ward's poverty rate?
</div>

In [ ]:
# %load solutions/120_2.py

## Dealing with *real data*

In [ ]:
data = pandas.read_csv('data/CAINC1__ALL_STATES_1969_2017.csv', encoding='latin-1', 
                      skipfooter=3, engine='python')

In [ ]:
data.shape

In [ ]:
data.head()

In [ ]:
pandas.set_option('display.max_columns', 500)

In [ ]:
data.head()

In [ ]:
data.tail(10)

In [ ]:
data.columns

In [ ]:
data['1969']

In [ ]:
data['1969'].sort_values()

so there are undisclosed values in the cases of `(NA)`

In [ ]:
data.isna().sum() # so no na values in the numpy / pandas sense

In [ ]:
data1 = data.replace("(NA)", 0)
data1['1969'] = data1['1969'].astype(int)

In [ ]:
data1['1969'].sort_values()

In [ ]:
for year in range(1969, 2018):
    print(year, data[data[str(year)]=='(NA)'].shape)

## subsetting

In [ ]:
small = data[data.LineCode.isin( [2, 3] )]

In [ ]:
small.shape

In [ ]:
data.shape

In [ ]:
small.head()

In [ ]:
for year in range(1969, 2018):
    small = small[small[str(year)] != "(NA)"] #drop all records with NA

In [ ]:
small.shape

In [ ]:
small.head(20)

In [ ]:
small['1969']

In [ ]:
convert_dict = dict([(str(year), int) for year in range (1969, 2018)])

In [ ]:
small = small.astype(convert_dict)

In [ ]:
small['1969']

In [ ]:
small['2017']

In [ ]:
geofips = pandas.unique(small.GeoFIPS)

In [ ]:
geofips

In [ ]:
geofips.shape

In [ ]:
small['GeoFIPS'] = [fips.replace("\"", "").strip() for fips in small.GeoFIPS]

In [ ]:
geofips = pandas.unique(small.GeoFIPS)

In [ ]:
geofips

In [ ]:
pc_inc = small[small.LineCode==3]

In [ ]:
pc_inc.shape

In [ ]:
pc_inc.head()

In [ ]:
pc_inc.max()

In [ ]:
cid_1969 = pc_inc.columns.get_loc('1969')
cid_1969

In [ ]:
pc_inc.iloc[:,8]

In [ ]:
pc_inc.iloc[:, 8:20]

In [ ]:
pc_inc.iloc[:, 8:].idxmax(axis=0)

In [ ]:
max_ids = pc_inc.iloc[:, 8:].idxmax() 
pc_inc.loc[max_ids]

In [ ]:
for y, max_id in enumerate(max_ids):
    year = y + 1969
    name = pc_inc.loc[max_id].GeoName
    pci = pc_inc.loc[max_id, str(year)]
    print(year, pci, name)

<div class="alert alert-success" style="font-size:120%">
<b>Exercise</b>: <br>
Identify the area with the lowest per-capita income each year.
</div>

In [ ]:
min_ids = pc_inc.iloc[:, 8:].idxmin() 
for y, min_id in enumerate(min_ids):
    year = y + 1969
    name = pc_inc.loc[min_id].GeoName
    pci = pc_inc.loc[min_id, str(year)]
    print(year, pci, name)

<div class="alert alert-success" style="font-size:120%">
<b>Exercise</b>: <br>
    As a percentage of the minimum per-captia income, calculate the relative income gap between the extremes of the income distribution each year.
    
   Identify the year with the maximum relative income gap.
   
</div>

In [ ]:
# %load solutions/120_3.py

<div class="alert alert-info" style="font-size:120%">
<b>Further Readings</b>: <br>
    <a rel='further' href="https://pandas.pydata.org/pandas-docs/stable/index.html">Pandas Documentation</a>
</div>

---

<a rel="license" href="http://creativecommons.org/licenses/by-nc-
sa/4.0/"><img alt="Creative Commons License" style="border-width:0"
src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span
xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Pandas</span> by <a xmlns:cc="http://creativecommons.org/ns#"
href="http://sergerey.org" property="cc:attributionName"
rel="cc:attributionURL">Serge Rey</a> is licensed under a <a
rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative
Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.